<div class="top mt-4">
  <h1>TruMedia</h1>
</div>
<div *ngIf="this.players.length" class="card_container">
  <div *ngFor="let player of this.players" class="player_card">
    <a [routerLink]="['/player', player.playerId]">
      <div class="card m-1" style="width: 19rem; height: 22rem">
        <img class="playerImage" src="{{ player.playerImage }}" />
        <div class="player_info">
          <h4>{{ player.fullName }}</h4>
          <img class="teamImage" src="{{ player.teamImage }}" />
        </div>
      </div>
    </a>
  </div>
</div>
